Source: moe-container-manager	
Section: utils
Priority: optional
Maintainer: dabao1955 <dabao1955@163.com>
Build-Depends: debhelper (>= 9),pkg-config, dpkg-dev, build-essential, clang(>= 12), libcap-dev, libseccomp-dev, lld, cmake (> 3.0), shfmt
Standards-Version: 0.0.1rc1
Homepage: http://github.com/dabao1955/moe-container-manager

Package: moe-container-manager
Architecture: any
Depends: p7zip-full, unzip, zip, git, wget, curl, nano, proot, axel, pv, gawk, gettext
Description: container manager for proot and chroot, it is not a dependency package.
 This is a container manager based on moe-hacker/termux-container 
