Source: moe-container-manager	
Section: utils
Priority: optional
Maintainer: dabao1955 <dabao1955@163.com>
Build-Depends: debhelper (>= 9),pkg-config, dpkg-dev, gcc, g++, libcap-dev, libseccomp-dev, shfmt, git(>= 2.40), perl(>= 5.31), cmake(>= 3.10), libspdlog-dev, golang( >= 1.18), ninja-build
Standards-Version: 0.0.1rc2
Homepage: http://github.com/dabao1955/moe-container-manager

Package: moe-container-manager
Architecture: any
Depends: p7zip-full, unzip, zip, wget, curl, nano, proot, axel, pv, gawk, gettext, util-linux
Description: container manager for proot and chroot, it is not a dependency package.
 This is a container manager for a port of Linux cli environment that cannot run docker and kvm, based on termux-container.
