name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  build-deb-amd64:
    container: debian:bookworm
    runs-on: ubuntu-latest
    steps:
      - name: Install Build Tools
        run: apt update && apt install -y debhelper dpkg-dev libcap-dev pkg-config git libseccomp-dev golang cmake libpthreadpool0 libpthreadpool-dev shfmt perl libspdlog-dev gcc g++ ninja-build python3 clang-tidy

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build deb
        run: |
          git config --global --add safe.directory /__w/moe-container-manager/moe-container-manager
          dpkg-buildpackage -d -us -uc && cp ../moe-container-manager_* ./out -rv && chmod 755 -R out/*
      - name: Upload builded to artifact
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4

        with:
          name: moe-container-manager_0.0.1rc0_amd64.deb.zip
          path: out/moe*
